.env

src/cron/file.txt

mysql_data/*
!mysql_data/.gitkeep

log/nginx/*
!log/nginx/.gitkeep
log/php/*
!log/php/.gitkeep

# zend studio for eclipse project files
src/*
!src/.gitkeep
!src/info.php
!src/cron/
!src/cron/script.php